.notice-board {
    min-height: auto;
    padding: 10rem 0 20rem;

    .controls {
        // display: flex;
        // flex-direction: column;
        // gap: 1rem;
        width: 50%;
        margin: 2rem auto;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .filters {
            display: flex;
            gap: 1rem;
            justify-content: center;

            select {
                flex: 1;

            }

            select,
            input {
                padding: 1rem 0.75rem;
                border: 1px solid #d1d5db;
                border-radius: 0.5rem;
                font-size: 1.5rem;
                width: 100%;
                color: var(--color-border);
                outline: none;

                &:focus {
                    border-color: var(--color-secondary);
                }
            }

            input {
                flex: 3;
            }

            select {

                option {
                    &:hover {
                        background-color: var(--color-text-sub);
                        color: var(--color-text-sub);
                    }
                }
            }
        }
    }

    .notice-board-list {
        >li {
            &+li {
                margin-top: 1rem;
            }

            a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                line-height: 2;
                color: var(--color-text-sub);
                padding: 1rem;
                font-size: 1.2rem;
                background-color: var(--color-after-bg);

                h4 {
                    color: var(--color-border);
                    width: 95%;
                    font-weight: 500;
                    font-size: 1.6rem
                }

                .views {
                    justify-self: flex-end;
                }

                &:hover {
                    background-color: var(--color-primary);
                    color: var(--color-card-bg);


                    h4 {
                        color: var(--color-card-bg);
                    }
                }
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 1.5rem;

        button {
            padding: 0.5rem 1rem;
            border: 1px solid #d1d5db;
            border-radius: 0.375rem;
            background-color: white;
            color: #374151;
            font-weight: 600;

            &:hover:not(:disabled) {
                background-color: #3b82f6;
                color: white;
            }

            &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }

        span {
            font-weight: bold;
        }
    }
}