body {
  background-color: var(--color-bg);
  color: var(--color-text);

}

.inner {
  max-width: 160rem;
  margin: auto;
  position: relative;
  height: 100%;
  padding: 0 3rem;

  @media screen and (max-width:1080px) {
    padding: 0 2rem;
  }

  @media screen and (max-width:599px) {
    padding: 0 1.5rem;
  }

}

section {
  position: relative;
  min-height: 100vh;
  padding: 0 3rem;
background-color: var(--color-bg);

  &.sub-top-section {
    min-height: auto;
    // padding-top: 8rem;
    height: 40rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width:1080px) {
      height: 30rem;
    }

    &:after {
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: var(--color-after-bg2);
    }

    .inner {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      // gap: -1rem;
      text-align: right;
      padding-bottom: 3rem;

      h1.tit {
        font-weight: 200;
        font-size: 5rem;
        text-transform: uppercase;
        letter-spacing: .5rem;
        // margin-bottom: -2rem;

        @media screen and (max-width:1080px) {
          font-size: 5rem;
        }

        @media screen and (max-width:599px) {
          font-size: 3.5rem;
        }

      }

      p.txt {
        font-size: 2.4rem;
        font-weight: 600;
        margin: 0;

        @media screen and (max-width:599px) {
          font-size: 1.5rem;
        }

      }
    }
  }

  .inner {
    height: 100%;
    position: relative;
    z-index: 2;

    .t-wrap {}
  }

  h1.tit {
    font-weight: bold;
    line-height: 1.2;
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--color-text);


    @media screen and (max-width:1080px) {
      font-size: 4.5rem;
    }

    @media screen and (max-width:599px) {
      font-size: 3.5rem;
    }

  }

  p.txt {
    font-size: 2.2rem;
    letter-spacing: -1.5%;
    color: var(--color-text-sub);
    font-weight: 300;
    margin: 2rem 0 3rem;

    @media screen and (max-width:1080px) {
      font-size: 1.6rem;
    }

    @media screen and (max-width:599px) {
      font-size: 1.3rem;
    }
  }

  h1.sub-tit {
    font-size: 4rem;
    font-weight: bold;
    color: var(--color-sc-tit);

  }

  p.sub-txt {
    font-size: 1.8rem;
    color: var(--color-text-sub2);

  }

  p.sub-txt2 {
    font-size: 1.6rem;
    max-width: 50%;
    color: var(--color-text-sub2);
    margin: 3rem 0 2rem;
  }

  p.sub-txt3 {

    font-size: 1.6rem;
    max-width: 50%;
    color: var(--color-text-sub2);
    margin-bottom: 3rem;
  }

  h4 {
    font-size: 4rem;

    @media screen and (max-width:1080px) {
      font-size: 3.2rem;
      line-height: 1.2;
    }

    @media screen and (max-width:599px) {
      font-size: 1.8rem;
    }
  }

  // button
  .btn {
    width: 14.5rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-button-bg);
    border-radius: 4rem;
    color: var(--color-bg);
    font-size: 1.6rem;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
    transition: background .3s;
    cursor: pointer;

    @media screen and (max-width:1080px) {
      width: 12rem;
      height: 3.5rem;
      font-size: 1.4rem;
    }

    &::after {
      position: absolute;
      display: block;
      content: "";
      border-radius: 4rem;
      width: 150%;
      height: 250%;
      background: #ffffff;
      background: var(--color-after-bg);
      left: 190%;
      top: 190%;

      z-index: 0;
      transform: translate(-50%, -50%) scale(1.2);
      transition: left .34s ease-in-out, top .24s ease-in-out;
      z-index: 0;
    }

    span {
      display: block;
      position: relative;
      z-index: 1;
    }


    // &:hover:after {
    //   left: 50%;
    //   top: 50%;
    // }


    &.arrow {
      width: 13.4rem;
      height: 3.4rem;
      justify-content: space-between;
      border-radius: 0;
      border-bottom: .2rem solid var(--color-bg);

      svg {
        fill: #fff;
      }
    }



  }

  .shadow {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.0199);
  }

.go-back-btn{
  margin-top: 3rem;
  background-color: var(--color-card-border);
  padding:1rem 2rem;
  color: var(--color-text);
  border-radius: .5rem;
  cursor: pointer;
}
}